<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Eliminar estudiante</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="row m-3">
            <h1 class="col-12 justify-content-center">Elimina un Estudiante</h1>
        </div>
        <form class="col-12" method="post" th:object="${estudiante}" th:action="@{/eliminarE}">
            <div class="form-group row m-3">
                <label class="col-2 text-center">Codigo de Estudiante</label>
                <input class="col-3" type="number" th:field="*{codigoEstudiante}" placeholder="Ingrese codigo del estudiante">
                <span class="col-3" th:errors="*{codigoEstudiante}" style="color: #FF0000"></span>
            </div>
            <div class="form-group row justify-content-md-center m-3">
                <div class="col-12 row justify-content-center">
                    <input class="col- btn btn-success" type="submit" value="Eliminar Estudiante">
                </div>
            </div>
        </form>
    </div>
    <div class="col-12 row justify-content-md-center">
        <div class="col-">
            <form method="post" th:action="@{/agregar}">
                <button type="submit" class="btn btn-primary px-4 m-2">Agregar Estudiante</button>
            </form>
        </div>
        <div class="col-">
            <form method="post" th:action="@{/editar}">
                <button type="submit" class="btn btn-warning px-5 m-2">Editar</button>
            </form>
        </div>
        <div class="col-">
            <form method="post" th:action="@{/listado}">
                <button type="submit" class="btn btn-info px-5 m-2">Listado</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
